{% extends "layout.html" %}
{% block head %}
	<title>{{ gettext('tmpl.app.title.abbr') }}{{ gettext('tmpl.app.title.full') }}</title>
{% endblock %}
{% block body %}
	<h2>{{ gettext('tmpl.index.welcome') }}</h2>
	<table>
		<tr>
			<th>{{ gettext('tmpl.index.file.attr.name') }}</th>
			<th>{{ gettext('tmpl.index.file.attr.size') }}</th>
            {% if show_file_type %}
                <th>{{ gettext('tmpl.index.file.attr.type') }}</th>
            {% endif %}
			<th>{{ gettext('tmpl.index.file.attr.date') }}</th>
			<th>{{ gettext('tmpl.index.file.attr.url') }}</th>
		</tr>
		{% if files %}
			{% for file in files %}
				<tr>
					<td>{{ file['name'] }}</td>
					<td>{{ file['size'] }}</td>
                    {% if show_file_type %}
                        <td>{{ file['type'] }}</td>
                    {% endif %}
					<td>{{ file['time'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
					<td><a href="{{ file['url'] }}">{{ gettext('tmpl.index.file.attr.url') }}</a></td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="4">{{ gettext('tmpl.index.list.empty') }}</td>
			</tr>
		{% endif %}
	</table>
	<br />
	<a href="{{ url_for('upload_file') }}">{{ gettext('tmpl.index.file.new') }}</a>
{% endblock %}
