<!DOCTYPE html>
<html>
	<head>
		{% block head %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if utf8_status %}
		    <meta charset="utf-8" />
        {% endif %}
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% if error %}
			<p class="error">
				<strong>{{ gettext('generic.word.error') }}</strong>
				{{ error }}
			</p>
		{% endif %}
		{% block body %}{% endblock %}
		<p>
			{{ gettext('tmpl.app.footer.copyright') }}
            <a href="https://luna.lucadou.sh/">{{ gettext('tmpl.app.footer.author') }}</a>
            {{ gettext('generic.sym.separator') }}
			<a href="https://gitlab.com/lucadou/spfs">{{ gettext('tmpl.app.footer.code') }}</a>
            {{ gettext('generic.sym.separator') }}
            {{ gettext('generic.version.template %(ver_str)s %(ver_num)s',
                    ver_str=gettext('tmpl.app.footer.version'),
                    ver_num='1.2.0') }}
		</p>
        <p>
            {% if user_agent %}
                {{ gettext('tmpl.app.footer.user-agent %(user_agent)s',
                    user_agent=user_agent) }}
            {% else %}
                {{ gettext('tmpl.app.footer.user-agent %(user_agent)s',
                    user_agent=gettext('tmpl.app.footer.user-agent.unknown')) }}
            {% endif %}
        </p>
        {% if utf8_status_str %}
            <p>
                Explicit UTF-8/Unicode: {{ utf8_status_str }}
            </p>
        {% endif %}
	</body>
</html>
