{% extends "layout.html" %}
{% block head %}
	<title>{{ gettext('tmpl.app.title.abbr') }}{{ gettext('tmpl.upload.file.new') }}</title>
{% endblock %}
{% block body %}
	<h2>{{ gettext('tmpl.upload.file.new') }}</h2>
    {% if host %}
        <form method="post" enctype="multipart/form-data" action="{{ host + url_for('upload_file') }}">
        {# "host" var in form action is explicit because some old browsers cannot handle relative URLs in form action field, see issue #9 #}
    {% else %}
        <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
    {% endif %}
            {% if utf8_status %}
                <input type="hidden" name="_snowman_" value="☃"> <!-- https://stackoverflow.com/a/3348524/15264046 -->
            {% endif %}
			<input type="file" name="file">
			<input type="submit" value="{{ gettext('tmpl.upload.file.submit') }}">
		</form>
	</form>
	<br />
	<a href="{{ url_for('home') }}">{{ gettext('tmpl.upload.nav.index') }}</a>
{% endblock %}
